body {
  padding-top: 10px;
  text-align: center;
  background-color: #e6ebff;
}

.btn{
  font-size: 10pt;
}

.form-control{
  font-size: 9pt;
}

.container {
  width: 300px;
  padding: 10px;
  text-align: center;
}